body {
    background-image: url(coffe-background.jpg);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
}

/* The title and description of the survey */
.header {
    background-color: rgba(200, 115, 0, 0.75);
    margin: 0 auto;
    width: 40vw;
    max-width: 400px;
    min-width: 200px;
    padding: 2px;
    text-align: center;
    border-radius: 25px 25px 0 0;
}

/* The form */
.form {
    background-color: rgb(90, 51, 0);
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(200, 115, 0);
    font-size: 1.125rem;
    border-radius: 15px;
  }

.name-label, .email-label, .number-label {
    display: block;
    margin: 1.5rem 0 0.4rem 0;
    font-size: 1.2rem;
  }
  
.question {
    margin: 1.5rem 0 0.4rem 0;
    font-size: 1.2rem;
  }
 
input[type="text"], input[type="email"], input[type="number"], select {
    margin: 0;
    font-family: inherit;
    font-size: 15;
    min-height: 2em;
    width: 100%;
  }
  
.item label {
    display: block;
    margin: 0.25rem 0 0 0.2rem;
    font-weight: 400;
  }

.input-checkbox, .input-radio {
    margin: 0 0.5rem 0 0;
  }

.input-textarea {
    margin: 0;
    font-family: inherit;
    font-size: 15;
    min-height: 120px;
    width: 100%;
    padding: 0;
    /* Ha a padding 0.625rem, akkor túllóg a formon. Viszont nélküle sincs középen, de a margin miatt nem a form közepén kéne lennie? Ilyen probléma a fCC oldalán nem volot amikor csináltam, és onnan másoltam ki a kódot. */
    resize: vertical;
  }

input[type="submit"] {
    display: block;
    margin: 1em auto;
    height: 2.5em;
    font-size: 1.1rem;
    background-color: rgb(200, 115, 0);
    border: none;
    width: 100%;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
  }