body {
    background-image: url(coffe-background.jpg);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
}

/* The title and description of the survey */
.header {
    background-color: rgba(200, 115, 0, 0.75);
    margin: 0 auto;
    width: 40vw;
    max-width: 400px;
    min-width: 200px;
    padding: 2px;
    text-align: center;
    border-radius: 25px 25px 0 0;
}

/* The form */
.form {
    background-color: rgb(90, 51, 0);
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(200, 115, 0);
    font-size: 1.125rem;
    border-radius: 15px;
  }

.name-label, .email-label, .number-label {
    display: block;
    margin: 1.5rem 0 0.4rem 0;
    font-size: 1.2rem;
  }
  
.question {
    margin: 1.5rem 0 0.4rem 0;
    font-size: 1.2rem;
  }  